@font-face {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    src: url('fonts/AlegreyaSans-Light.ttf') format("opentype");
}

@font-face {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    src: url('fonts/AlegreyaSans-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    src: url('fonts/AlegreyaSans-Medium.ttf') format("opentype");
}

@font-face {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    src: url('fonts/AlegreyaSans-Bold.ttf') format("opentype");
}

@font-face {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 800;
    src: url('fonts/AlegreyaSans-ExtraBold.ttf') format("opentype");
}
